:root {
  --primary-text-color: #212121;
  --prymary-bg-color: #e5e5e5;
  --accent-color: #2196f3;
  --bg-additional-color: #f5f4fa;
  --secondary-text-color: #ffffff;
  --paragraf-color: #757575;
  --footer-bg-color: #2f303a;
}

ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.flex-reset {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.section.no-pudding {
  padding-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

.section-title {
  margin-bottom: 50px;
  text-align: center;
}

.link {
  display: block;
  text-decoration: none;
}

.invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.container--flex {
  display: flex;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--accent-color);
}

.nav-logo__span {
  color: var(--primary-text-color);
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.nav-container {
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.site-nav {
  display: flex;
}

.site-nav__item {
  position: relative;
}

.site-nav.list {
  margin-left: 93px;
}

.site-nav--left-side.list {
  margin-left: auto;
}

.site-nav--left-side li:last-child {
  margin-left: 50px;
}

.site-nav__item {
  margin-right: 50px;
}

.site-nav .contact + .contact {
  margin-left: 50px;
}

.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  display: flex;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav > .link {
  color: var(--paragraf-color);
}

.site-nav .contact {
  color: #757575;
}

.link.current::after {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -3px;
  right: 0;
}

.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-svg--smal-icon {
  width: 16px;
  height: 16px;
  fill: var(--paragraf-color);
  margin-right: 10px;
}

.contact:hover .social-svg--smal-icon {
  fill: currentColor;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--accent-color);
}

.nav-logo__span {
  color: var(--primary-text-color);
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.nav-container {
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.site-nav {
  display: flex;
}

.site-nav__item {
  position: relative;
}

.site-nav.list {
  margin-left: 93px;
}

.site-nav--left-side.list {
  margin-left: auto;
}

.site-nav--left-side li:last-child {
  margin-left: 50px;
}

.site-nav__item {
  margin-right: 50px;
}

.site-nav .contact + .contact {
  margin-left: 50px;
}

.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  display: flex;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav > .link {
  color: var(--paragraf-color);
}

.site-nav .contact {
  color: #757575;
}

.link.current::after {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -3px;
  right: 0;
}

.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-svg--smal-icon {
  width: 16px;
  height: 16px;
  fill: var(--paragraf-color);
  margin-right: 10px;
}

.contact:hover .social-svg--smal-icon {
  fill: currentColor;
}

.button {
  color: var(--primary-text-color);
  background-color: var(--bg-additional-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.primary {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.button.primary:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-menu {
  justify-content: center;
  margin-bottom: 50px;
}

.button-menu li:not(:last-child) {
  margin-right: 8px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg.jpg);
  text-align: center;
  background-color: #c4c4c4;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.studio-card__item {
  display: flex;
  flex-wrap: wrap;
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.studio-card__item:last-child {
  margin-right: 0;
}

.item--dark {
  background-color: var(--bg-additional-color);
}

.team-card__item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card__item:last-child {
  margin-right: 0;
}

.img-overlay {
  padding: 27px 82px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.12;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  position: absolute;
  color: var(--secondary-text-color);
  transform: translateY(-100%);
}

/*portfolio card*/
.card-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-item:nth-child(3n) {
  margin-right: 0;
}

.card-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.list-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.list-title--light {
  color: var(--secondary-text-color);
}

.list-title__icon::before {
  content: '';
  background-repeat: no-repeat;
  background-color: var(--bg-additional-color);
  margin-bottom: 30px;
  display: flex;
  height: 120px;
  width: 270px;
  text-align: center;
  background-position: center;
}

.paragraf-style {
  font-size: 14px;
  line-height: 1.7;
  color: var(--paragraf-color);
}

.card li:first-child h3::before {
  background-image: url(../img/svg/antena.svg);
}

.card li:nth-child(2) h3::before {
  background-image: url(../img/svg/clock.svg);
}

.card li:nth-child(3) h3::before {
  background-image: url(../img/svg/diagram.svg);
}

.card li:nth-child(4) h3::before {
  background-image: url(../img/svg/astronaut.svg);
}

.card__container {
  box-sizing: border-box;
  padding: 20px 24px;
  background-color: var(--secondary-text-color);
}

.card__container--center {
  text-align: center;
  padding: 30px 32px;
}

.card__container--border {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.team-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-card__p {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--paragraf-color);
  margin-bottom: 16px;
}

.card-item__wrapper {
  position: relative;
  overflow: hidden;
}

.card-item__overlay {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--bg-additional-color);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: auto;
}

.card-item:hover .card-item__overlay {
  transform: translateY(0%);
}

.card__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}

.card__p {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--paragraf-color);
}

.social-list {
  display: flex;
  list-style: none;
  max-height: 44px;
}

.social-list__item {
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50%;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover {
  background-color: var(--accent-color);
}

.social-list__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-svg {
  fill: var(--secondary-text-color);
}

.social-svg--footer {
  fill: var(--secondary-text-color);
}

.company-list {
  list-style: none;
  display: flex;
}

.company-list__item {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
}

.company-list__item:not(:last-child) {
  margin-right: 30px;
}

.company-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-list__link:hover, .company-list__link:focus {
  border: 1px solid var(--accent-color);
  cursor: pointer;
  outline: none;
}

.company-list__svg {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-list__link:hover .company-list__svg,
.company-list__link:focus .company-list__svg {
  fill: var(--accent-color);
}

.page-footer {
  background: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo__span {
  color: var(--secondary-text-color);
}

.container--baseline {
  align-items: baseline;
}

.footer-social-link-container {
  margin-left: 70px;
}

.address {
  margin-top: 20px;
  max-width: 230px;
}

.address__li--botmargin {
  margin-bottom: 9px;
}

.address__a {
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__a:hover {
  color: var(--accent-color);
}

.address__a--dif {
  color: var(--secondary-text-color);
}

.footer__form {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
}

.footer__input-wrapper {
  width: 100%;
  display: flex;
  justify-items: flex-end;
}

.footer__email {
  padding: 10px;
  background-color: var(--footer-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 100%;
  color: var(--secondary-text-color);
}

.footer__email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--footer-bg-color);
}

.footer__btn {
  display: inline-flex;
}

.footer__btn::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/send.svg);
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 581px;
  width: 528px;
  border-radius: 4px;
  padding: 40px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  cursor: pointer;
}

.close-btn__icon {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 30px;
  height: 30px;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn__icon:hover {
  fill: var(--accent-color);
}

/* Modal form */
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-text-color);
}

.modal-form__label {
  margin-bottom: 10px;
  color: var(--paragraf-color);
}

.modal-form__input {
  margin-top: 4px;
  padding: 12px 42px;
  width: 100%;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-form__input:focus-within {
  border: 1px solid #2196f3;
}

.modal-form__input-wrapper {
  position: relative;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  display: block;
  fill: #212121;
}

.modal-form__input:focus-within + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__checkbox-label .modal-form__icon {
  border: 2px solid #212121;
  border-radius: 4px;
  fill: transparent;
  outline: none;
  background-origin: border-box;
}

.modal-form__checkbox-label .modal-form__icon {
  left: -24px;
  top: 6px;
}

.modal-form__checkbox:checked + .modal-form__icon {
  fill: white;
  background-color: var(--accent-color);
  border: 1px solid transparent;
}

.modal-form__textarea {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 4px;
}

.modal-form__textarea:focus-within {
  border: 1px solid #2196f3;
}

.modal-form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__checkbox-label {
  position: relative;
  margin-left: 36px;
  margin-bottom: 30px;
}

.modal-form-checkbox-link {
  color: var(--accent-color);
}

.modal-form__btn {
  width: 200px;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */