.page-footer {
  background: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo__span {
  color: var(--secondary-text-color);
}

.footer-social-link-container {
  margin-left: 70px;
}

.address {
  margin-top: 20px;
  max-width: 230px;
}

.address__li--botmargin {
  margin-bottom: 9px;
}

.address__a {
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: var(--accent-color);
  }
  &--dif {
    color: var(--secondary-text-color);
  }
}

.footer__form {
  margin-left: 70px;
}

.footer__email {
  height: 50px;
  padding: 10px;
  background-color: var(--footer-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  // width: 358px;
  margin-right: 12px;
  color: var(--secondary-text-color);
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--footer-bg-color);
  }
}

.footer__btn {
  display: inline-flex;
  &::after {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../img/send.svg);
    margin-left: 10px;
  }
}
@media screen and (max-width: 767px) {
  .container--baseline {
    flex-direction: column;
    align-items: center;
  }
  .footer__email {
    width: 100%;
    margin-right: 0;
    // max-width: 450px;
  }
  .footer-social-link-container {
    margin-left: 0;
  }
  .footer__form {
    margin-left: 0;
  }
  footer .list-title--light {
    text-align: center;
  }
  .footer-social-link-container {
    margin-bottom: 60px;
  }
  .address {
    margin-bottom: 60px;
  }
  .address ul {
    justify-content: center;
  }
  .footer__wraper {
    text-align: center;
  }
  .footer__btn {
    margin-top: 20px;
  }
  .footer__input-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .container--baseline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer__email {
    width: 450px;
  }
  .footer__form {
    text-align: center;
    margin: 0 auto;
  }
  .footer__email {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer__wraper {
    margin-bottom: 96px;
  }
  footer .flex-reset {
    justify-content: center;
  }
  .container--baseline {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__wraper {
    margin-bottom: 0;
  }
  .container--baseline {
    align-items: baseline;
    justify-content: space-between;
  }
  .footer__form {
    margin: 0;
    text-align: left;
  }

  .footer__email {
    padding: 10px;
    background-color: var(--footer-bg-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 358px;
    margin-right: 12px;
    color: var(--secondary-text-color);
    &::placeholder {
      font-size: 16px;
      line-height: 1.25;
      color: rgba(255, 255, 255, 0.6);
      background-color: var(--footer-bg-color);
    }
  }

  footer .flex-reset {
    justify-content: left;
  }
  .footer__wraper {
    text-align: left;
  }
}
