@media screen and (max-width: 382px) {
  .mobile-contacts__link {
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }

  .header__tel {
    display: none;
  }

  .header__modal-btn {
    display: none;
  }

  .burger-btn,
  .mobile-menu__close {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .burger-btn__icon {
    fill: #000000;

    .burger-btn:hover &,
    .burger-btn:focus & {
      fill: var(--accent-color);
    }
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    transform: translateY(-100%);
    transition: transform 500ms linear;
    z-index: 100;
    display: none;
  }

  .mobile-menu.is-open {
    transform: translateY(0%);
    display: block;
  }

  .mobile-menu__container {
    position: relative;
    padding: 40px 48px;
    padding-bottom: 48px;
    padding-left: 40px;
  }

  .mobile-menu__close {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .mobile-menu__close-icon {
    .mobile-menu__close:hover &,
    .mobile-menu__close:focus & {
      fill: var(--accent-color);
    }
  }
  .mobile__item {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
  }
  .mobile__link {
    color: var(--primary-text-color);
    &:hover {
      color: var(--accent-color);
    }
  }
  .mobile-contacts__item {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.76;
  }
  .mobile-contacts__link {
    color: var(--accent-color);
  }
  .mobile-contacts__link--email {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .mobile-contacts {
    margin-top: 30vh;
    margin-bottom: 64px;
  }
  .mobile__social {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .mobile-social__link {
    color: var(--accent-color);
    position: relative;
  }
  .mobile-social__item:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 6px;
  }
  .mobile-social__link::after {
    position: absolute;
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-color: var(--bg-additional-color);
    background-image: url('../../img/line.svg');
    height: 22px;
    top: 0;
    left: 113%;
    width: 3px;
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}
.menu-container {
  width: 430px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  height: 100%;
}
// 1x mobile
// background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//   url(../images/hero/hero_mobile.jpg);
// 2x mobile
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 24ppx) and (max-width: 767px) {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero_mobile@2x.jpg);
}
// 1x tablet
@media screen and (min-width: 768px) {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero_tablet.jpg);
}
// 2x tablet
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 24ppx) and (min-width: 768px) {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero_tablet@2x.jpg);
}
// 1x desktop
@media screen and (min-width: 1200px) {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero_desktop.jpg);
}
// 2x desktop
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 24ppx) and (min-width: 1200px) {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero_desktop@2x.jpg);
}
