.page-header {
  border-bottom: 1px solid #ececec;
}
.nav-container {
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.site-nav {
  display: flex;
  &__item {
    position: relative;
  }
  &.list {
    margin-left: 93px;
  }
  &--left-side.list {
    margin-left: auto;
  }
  &--left-side li:last-child {
    margin-left: 50px;
  }
  &__item {
    margin-right: 50px;
  }
  & .contact + .contact {
    margin-left: 50px;
  }
  &__item:last-child {
    margin-right: 0;
  }

  & .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    display: flex;
  }
  & .link:hover,
  & .link:focus {
    color: var(--accent-color);
  }
  & .link.current {
    color: var(--accent-color);
  }
  & > .link {
    color: var(--paragraf-color);
  }
  & .contact {
    color: rgba(117, 117, 117, 1);
  }
}

.link.current::after {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -3px;
  right: 0;
}
.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-svg--smal-icon {
  width: 16px;
  height: 16px;
  fill: var(--paragraf-color);
  margin-right: 10px;
  .contact:hover & {
    fill: currentColor;
  }
}
