.studio-card__item {
  display: flex;
  flex-wrap: wrap;
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}
.item--dark {
  background-color: var(--bg-additional-color);
}
.team-card__item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:last-child {
    margin-right: 0;
  }
}

.img-overlay {
  padding: 27px 82px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.12;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  position: absolute;
  color: var(--secondary-text-color);
  transform: translateY(-100%);
}

/*portfolio card*/
.card-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.list-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  &--light {
    color: var(--secondary-text-color);
  }
  &__icon::before {
    content: '';
    background-repeat: no-repeat;
    background-color: var(--bg-additional-color);
    margin-bottom: 30px;
    display: flex;
    height: 120px;
    width: 270px;
    text-align: center;
    background-position: center;
  }
}

.paragraf-style {
  font-size: 14px;
  line-height: 1.7;
  color: var(--paragraf-color);
}
.card li {
  &:first-child h3::before {
    background-image: url(../img/svg/antena.svg);
  }
  &:nth-child(2) h3::before {
    background-image: url(../img/svg/clock.svg);
  }
  &:nth-child(3) h3::before {
    background-image: url(../img/svg/diagram.svg);
  }
  &:nth-child(4) h3::before {
    background-image: url(../img/svg/astronaut.svg);
  }
}

.card__container {
  box-sizing: border-box;
  padding: 20px 24px;
  background-color: var(--secondary-text-color);
  &--center {
    text-align: center;
    padding: 30px 32px;
  }
  &--border {
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
  }
}

.team-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-card__p {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--paragraf-color);
  margin-bottom: 16px;
}
.card-item__wrapper {
  position: relative;
  overflow: hidden;
}

.card-item__overlay {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--bg-additional-color);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: auto;
  .card-item:hover & {
    transform: translateY(0%);
  }
}
.card__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}
.card__p {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--paragraf-color);
}
