.logo {
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--accent-color);
}
.nav-logo__span {
  color: var(--primary-text-color);
}
