ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}
.flex-reset {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
  &.no-pudding {
    padding-bottom: 0;
  }
}
img {
  display: block;
  max-width: 100%;
}
.section-title {
  margin-bottom: 50px;
  text-align: center;
}
.link {
  display: block;
  text-decoration: none;
}
