:root {
  --primary-text-color: #212121;
  --prymary-bg-color: #e5e5e5;
  --accent-color: #2196f3;
  --bg-additional-color: #f5f4fa;
  --secondary-text-color: #ffffff;
  --paragraf-color: #757575;
  --footer-bg-color: #2f303a;
}
